
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39.3rem;
}.iphone-14-15-pro-1-2eb {
  width: 100%;
  position: relative;
  align-items: center;
  display: flex;
  background: linear-gradient(219.94deg, rgba(58, 254, 113, 0.200000003) 53.48%, rgba(37, 182, 77, 0.200000003) 77.22%);
  padding: 19.8rem 1.2rem 37.7rem 0.8rem;
  overflow: hidden;
  flex-direction: column;
  background-color: #0f6fa6;
  box-sizing: border-box;

  .you-dont-love-me-mVh {
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin-bottom: 6.1rem;
    font-size: 4rem;
    font-weight: 400;
  }
  .yes-E8P {
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0rem 2.5rem 6.9rem 0rem;
    font-size: 4rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
  }
  .no-uVR {
    white-space: nowrap;
    flex-shrink: 0;
    margin-right: 2.3rem;
    font-size: 4rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
  }
}
